.tile {
  margin-bottom: 10px;
  text-align: center;
  width:100%;
  padding-top: 50%;
  padding-bottom: 50%;
  backgroundColor: blue;
}

.tile p {
  margin: auto;
}

.board {
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.list {
  overflow-y: scroll;
  height: 70vh;
  resize: none;
  margin-bottom: 3%
}

.list-non {
  height: 70vh;
  resize: none;
  margin-bottom: 3%
}

.game {
  background-color: #e5e6df;
  height: 102vh;
}

.submit {
  margin: auto;
  text-align: center;
}

.reset {
  margin: auto;
  text-align: center;
}
